:root {
    --accent-green: #62d868;
    --light-grey: #b7c2b77d;
    --light-blue:  #dffcff; 
    --accent-blue: #1f79d3;
}

/* overriding strong */
strong {
    font-weight: 400 !important;
    color: var(--accent-green);
}

/* General Styling */
* {
    margin: 0;
    padding: 0;
    font-weight: 300; 
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: #212129;
}

header {
    font-weight: 200 !important; 
    background-color: var(--light-grey); 
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 400;
}

nav ul li a:hover {
    color:  var(--accent-blue);
    transition: 0.3s;
    text-decoration: none;
    font-weight: 300;
    
}

section {
    padding: 80px 20px;
    min-height: 100vh;
}


.video_background {
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    height: 100%; 
}

video {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto;
    z-index: 1; 
    transform: translate(-50%, -50%); 
    opacity: 80%;
}

#intro {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 2;
    position: relative; 
    overflow: hidden; 
}

.intro-content {
    font-size: 2.5em;
    
    color: var(--accent-green); 
    font-weight: 400; 
    z-index: 50; 
}

#about, #projects, #contact, #experience {
    padding: 100px 20px;
    background-color: white;
    margin-left: 2rem; 
    margin-right: 2rem; 
    margin-bottom: 50px;
}

.blurb {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 2rem; 
    margin-right: 2rem; 
    font-size: 25px;
    color: #626762; 
}

section h2 {
    text-align: center;
    font-size: 2.2em;
    padding: 15px;
    position: relative; 
    color: #626762; 
}

section h2::after {
    content: "";
    margin-bottom: 15px;
    position: absolute;
    left: 50%;
    bottom: -10px; 
    transform: translateX(-50%);
    display: block;
    width: 0%; /* Start hidden */
    height: 3px;
    background-color: var(--accent-green);
    transition: width 1s ease-in-out;
}

section h2.visible::after {
    width: 40%;
}



#projects .project-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tile{
    padding: 20px;
    width: 45%;
    margin: 15px;
    border-radius: 10px;
    background-color: var(--light-blue);
    border: 2px solid var(--accent-green); /* Default border */
    padding: 20px;
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.tile:hover {
    border-color: rgb(194, 255, 200);
    box-shadow: 0px 6px 4px rgba(15, 158, 46, 0.5); /* Coral-colored shadow */
}


footer {
    background-color: var(--light-grey); /* Green */
    color: black;
    font-weight: 500 !important; 
    text-align: center;
    padding: 10px 0;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    color: #141514; 
    text-decoration: none;
    font-size: 1.2em;
}

.social-links a:hover {
    color: #868381; 
    transition: color margin-right 1.3s; 
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Media Queries */
@media (max-width: 800px) {
    .tile {
        width: 90%;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 5px 0;
    }

}
